.buttonWrapper{
    display : flex; justify-content : center; align-items : center;
    margin : 20px 0;
}

.loginButton {
    padding : 10px; margin-left : 20px;
    border: 1px solid black; box-shadow : 0 0 10px 1px black; border-radius : 20px;
    font-size : 24px; text-decoration : none; color : black;
}

.writeButton{
    padding : 10px; margin-left : 20px;
    border: 1px solid black;  border-radius : 5px;
    font-size : 14px; text-decoration : none; color : black;
    cursor : pointer;
}

.numberButton{
    margin-right : 10px;
    font-size : 18px; text-decoration : none; color : black;
}

.numberButton:hover{
    background-color : #ddd;
    text-decoration : underline;
}

.snsBtn{
    width : 50px; height : 50px;
    margin-right : 20px;
    border : none; border-radius : 15px;
    font-size : 20px; text-decoration : none; color : white;
    background-color : #ff0000;
}

.button{
    width: 120px;
    padding : 10px; margin-left : 20px;
    border: 1px solid black; box-shadow : 0 0 10px 1px black; border-radius : 20px;
    font-size : 24px; text-decoration : none; color : black;
}

.mailCheck{
    width : 100px; height : 30px;
    margin-left : 10px;
    margin-top : 10px;
    background : #ddd;
    border: 1px solid black; border-radius : 5px;
    font-size : 12px; text-decoration : none; color : black;
    cursor : pointer;
}
